$sampler-color: #f7f7f7;
$background: #e5e6e8;
$top-plate: #d4d5d9;
$screen: #bfeecc;
$screen-tint: #616976;
$red: #F44336;
$green: #1abc9c;
$slider: #278BA8;
$orange: #f89d82;
$strip-color: #00bcd4;

* {
  position: relative;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
}

.sampler {
  padding: 1em;
  width: 20em;
  height: 15em;
  border: 5px solid;
  display: flex;
  background: $sampler-color;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 7px 7px lightgray;
  transition: box-shadow 0.1s;
  
  &.highlight {
    box-shadow: 0px 0px 20px 5px gray;
  }
}

.bottom-plate,
.top-plate {
  position: absolute;
  width: 100%;
  height: 2.7em;
  background: $top-plate;
  margin-left: -1em;
  margin-top: -1em;
  box-shadow: 0px 4px 0px lighten($top-plate, 10%) inset, 0px -8px 0px darken($top-plate, 10%) inset;
  border-bottom: 5px solid;
  z-index: 1000;
}

.on-button {
  position: absolute; 
  height: 1em;
  width: 1em;
  background: $red;
  border-radius: 50%;
  top: 7%;
  left: 90%;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: lighten($red, 20%) 0px 0px 4px 4px;
  z-index: 1000;
}


.bottom-plate {
  top: 99%;
  z-index: 0;
  left: 4.5%;
  border-top: 4px solid;
  height: 1.5em
}

.pad-container {
  position: absolute;
  top: 60%;
  left: 3%;
  transform: translateY(-50%);
  height: 50%;
  width: 10em;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5em 0.5em 0;
}

.pad {
  height: 2.3em;
  width: calc(50% * (1/3));
  border: 3px solid;
  background: darken(lightgray, 10%);
  margin-left: 0.5em;
  margin-top: 0.5em;
  flex-grow: 1;
  box-shadow: lighten(lightgray, 10%) 0px 4px 0px inset, darken(lightgray, 35%) 0px -4px 0px inset, darken(lightgray, 15%) 0px 3px 0px ; 
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #444;
  
  &.pressed {
    box-shadow:  darken(lightgray, 25%) -4px 4px 4px inset, ;
    top: 3px;
    color: #666;
  }
}

.detail-strip {
  width: 100%;
  height: 2.3em;
  margin-top: 2.5em;
  background: lighten(peachpuff, 8%);
}

.strip-one {
  height: 5px;
  width: 3em;
  background: lighten(gray, 5%);
  right: 0;
  bottom: 10%;
  position: absolute;
}

.strip-two {
  height: 3px;
  width: 2em;
  background: lighten(gray, 5%);
  right: 0;
  bottom: 39%;
  position: absolute;
}

.strip-three {
  height: 1em;
  width: 5em;
  background: $orange;
  left: 10%;
  bottom: 39%;
  position: absolute;
}

.strip-four {
  height: 5px;
  width: 2em;
  background: $orange;
  left: 38%;
  bottom: 39%;
  position: absolute;
}

.strip-five {
  height: 5px;
  width: 2em;
  background: lighten(gray, 5%);
  left: 72%;
  top: 80%;
  position: absolute;
  z-index: 1000;
}

.bank-two,
.bank-one {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: lighten(gray, 5%);
  left: 70%;
  top: 80%;
  position: absolute;
  cursor: pointer;
  
  &.active {
    background: $strip-color;
    box-shadow: 0px 0px 5px 2px lighten($strip-color, 20%);
  }
}

.bank-two {
  left: 77%;
  &.active {
    background: darken($orange, 10%);
    box-shadow: 0px 0px 5px 2px $orange;
  }
}

.screen {
  position: absolute;
  height: 4em;
  width: 8em;
  background: $screen;
  left: 58.8%;
  top: 37%;
  box-shadow: darken($screen-tint, 10%) 0px 0px 0px 5px inset, $screen-tint 0px 0px 0px 15px inset, 0px 4px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-info {
  font-family: 'Press Start 2P';
  font-size: 0.3em;
}


.strap {
  position: absolute;
  width: 2.5em;
  height: 100%;
  background: black;
  z-index: 100000;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  box-shadow: 0px 5px 2px;
  
  &.one {
    left: 25%;
  }
  
  &.two {
    left: 75%;
  }
}

.handle {
  height: 5em;
  width: 15em;
  background: darken($top-plate, 20%);
  position: fixed;
  top: 40%;
  border: 8px solid;
  border-bottom: 0;
  opacity: 0;
  transform: scale(0.5);
  
  .handle-inner {
    position: absolute;
    height: 50%;
    width: 80%;
    background: $background;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    border: 8px solid;
    border-bottom: 0;
  }
}

#slider {
  background: darkgray;
  color: red;
  z-index: 100;
  width: 100px;
  position: absolute;
  left: 63%;
  top: 70%;
  border: 0;
  border-radius: 0;
}

.ui-corner-all {
  background: darkgray;
}
 .ui-widget-content > .ui-state-default {
  border: 0;
  background: linear-gradient(90deg, $slider 40%, darken($slider, 15%) 41%, darken($slider, 15%) 59%, $slider 60%);
  cursor: pointer;
  transform: translateY(2px);
  border-radius: 0;
    
  &:active {
    outline: none;
  }
   
  &:focus {
    outline: none;
  }
}