.container
  .sampler
    .strap.one
    .strap.two
    .top-plate
    .on-button
    .detail-strip
      .strip-one
      .strip-two
      .strip-three
      .strip-four
    .screen
      | <span class='screen-info'></span>
    #slider
    //- .strip-five
    .bank-one.active
    .bank-two
    .pad-container
      .pad#one
        |Q
      .pad#two
        |W
      .pad#three
        |E
      .pad#four
        |A
      .pad#five
        |S
      .pad#six
        |D
      .pad#seven
        |Z
      .pad#eight
        |X
      .pad#nine
        |C
    .bottom-plate